* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
}
.container {
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #f2a96d, #aaa0ea); */
}
main {
    background: linear-gradient(271deg, #f2a96d, #aaa0ea);
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #0f0616;
  background-color: #eb9486;
}
#Reset_btn {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
#new-btn {
  width: 180px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
#msg {
  color: #ffffc7;
  font-size: 5vmin;
}
.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  background: linear-gradient(271deg, #f2a96d, #aaa0ea);
}
.hide {
  display: none;
}
